h1,
h2,
h3,
h4,
h5,
p,
a,
label,
button,
span,
em,
strong,
u,
i,
small,
blockquote,
abbr,
cite,
mark,
b,
code,
pre,
var,
del,
ins,
sup,
sub,
th,
td {
  color: aliceblue;
}

.homeTitle {
  margin-top: 2rem;
  font-size: 70px;
  color: aliceblue;
}
