h1,
h2,
h3,
h4,
h5,
p,
a,
label,
button,
span,
em,
strong,
u,
i,
small,
blockquote,
abbr,
cite,
mark,
b,
code,
pre,
var,
del,
ins,
sup,
sub,
th,
td {
  color: aliceblue;
}

/* .topContainer {
  display: grid;
  grid-template-columns: 10fr 1fr;
  align-items: flex-start;
  width: 100%;
}
 */
.homeTitle {
  justify-self: center;
  margin-top: 2rem;
  font-size: 70px;
  color: aliceblue;
}

a {
  text-decoration: none; /* Removes the underline */
}
